<nav class="menu">
  <ul>
    <li><a href="/">historia</a></li>
    <li><a href="/beneficios">beneficios</a></li>
    <li><a href="/objetivos">objetivos</a></li>
    <li><a href="/paises">paises</a></li>
    <li><a href="/representantes">representantes</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/tienda">tienda</a></li>

    <% if (!user) { %>
      <li><a href="/registro">registro</a></li>
      <li><a href="/login">iniciar sesión</a></li>
    <% } else { %>
      <li><a href="/perfil">perfil</a></li>
    <% } %>

    <% if (user && user.rol === "admin") { %>
      <li>
        <select id="adminMenu">
          <option value="" disabled selected>Panel admin</option>
          <option value="/admin-users">Usuarios</option>
          <option value="/admin-compras">Compras</option>
          <option value="/admin-comentarios">Comentarios</option>
        </select>
      </li>
    <% } %>

    <li>
      <div class="buscador">
        <input type="text" id="busqueda-general" placeholder="Buscar..." />
        <button id="boton-general">Buscar</button>
      </div>
    </li>
  </ul>
</nav>