<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>PAISES</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/styles/estilos.css" />
  </head>

  <body>
    <div class="agrupar">
      <header class="header">
        <nav class="menu">
          <%- include("partials/navbar") %>
        </nav>
      </header>

      <section class="seccion">
        <article>
          <hgroup>
            <h1>País de origen</h1>
          </hgroup>

          <!-- IMAGEN CORREGIDA -->
          <!-- <img src="public/img/pexels-joao-godoy-706154396-30550027.jpg" alt="imagen ciclismo" /> -->

          <blockquote cite="https://es.wikipedia.org/wiki/Ciclismo">
            El ciclismo moderno se consolidó en Francia durante la década de
            1860, cuando se organizaron las primeras carreras y surgió el Tour
            de Francia en 1903, convirtiéndose en la cuna del ciclismo
            competitivo.
          </blockquote>
        </article>
      </section>
      <section class="seccion">
        <article>
          <hgroup>
            <h1>Actualidad</h1>
          </hgroup>

          <!-- IMAGEN CORREGIDA -->
          <img src="" alt="imagen ciclismo actual" />

          <blockquote cite="https://www.uci.org/" class="mensaje">
            Hoy en día el ciclismo se practica en casi todos los continentes:
            Europa, América, Asia, Oceanía y África, con grandes tradiciones en
            países como Bélgica, España, Colombia, Estados Unidos y Australia.
          </blockquote>
        </article>
      </section>

      <footer class="pie">
        DERECHOS REVERVADOS 2022-2023
      </footer>
    </div>
  </body>
</html>