<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../frontend/public/styles/estilos.css" />
    <script src="../../frontend/public/js/functions.js" defer></script>

    <title>Perfil</title>
  </head>

  <body>
    <header class="header">
      <nav class="menu">
        <ul>
          <li><a href="/index.html">historia</a></li>
          <li><a href="/beneficios.html">beneficios</a></li>
          <li><a href="/objetivos.html">objetivos</a></li>
          <li><a href="/paises.html">paises</a></li>
          <li><a href="/representantes.html">representantes</a></li>
          <li><a href="/formulario.html">registro</a></li>
          <li><a href="/blog.html">blog</a></li>
          <li><a href="/tienda.html">tienda</a></li>
          <li><a href="/perfil">perfil</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">

      <section class="seccion">
        <div>
          <h2 class="title"><%= user.name %></h2>
        </div>

        <div>
          <div class="for ul li label">
            <label>Nombre completo</label>
            <p><%= user.name %></p>
          </div>

          <div>
            <label>Correo electrónico</label>
            <p><%= user.mail %></p>
          </div>

          <div>
            <label>Contraseña</label>
            <p>********</p>
          </div>

          <div>
            <label>Modalidad favorita</label>
            <p><%= user.modality %></p>
          </div>

          <button
            class="btn"
            style="background-color: #c0392b"
            id="cerrar_sesion"
            onclick="window.location.href='/logout'"
          >
            Cerrar sesión
          </button>
        </div>
      </section>

    </main>

    <footer class="pie">
      <p>&copy; 2025 Tienda de Ciclismo. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>