<!DOCTYPE html>
<html lang="es">
    <head>
        <title>PAISES</title>
        <link rel="stylesheet" href="/styles/estilos.css"/>
    </head>
     
    <body>
        <div class="agrupar">
            <header class="header">
                <h1>PAISES</h1>
              
           
     
             <nav class="menu"> 
                 <ul>
                  <li><a href="/">historia</a></li>
          <li><a href="/beneficios">beneficios</a></li>
          <li><a href="/objetivos">objetivos</a></li>
          <li><a href="/paises">paises</a></li>
          <li><a href="/representantes">representantes</a></li>
          <li><a href="/formulario">registro</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/tienda">tienda</a></li>
          <li><a href="/perfil">perfil</a></li>
                 </ul>
             </nav>
            </header>
             
           <section class="seccion">
            <article>
               <hgroup>
               <h1>pais de origen</h1>
                </hgroup>
                 <img src="img/descargar.png"/>
                 <blockquote cite="https://es.wikipedia.org/wiki/Ciclismo">
                 El ciclismo moderno se consolidó en Francia durante la década de 1860, cuando se organizaron las primeras carreras y surgió el Tour de Francia en 1903, convirtiéndose en la cuna del ciclismo competitivo.
              </blockquote>
              </article>
     
              <article>
                   <hgropu>
                  <h1>actualidad</h1>
                   <img src="img/descargar (2).jfif"/>
                   <blockquote cite="https://www.uci.org/" class="mensaje">
                 Hoy en día el ciclismo se practica en casi todos los continentes: Europa, América, Asia, Oceanía y África, con grandes tradiciones en países como Bélgica, España, Colombia, Estados Unidos y Australia.
              </blockquote>
              </article>
         
           </section>    
     
           <footer class="pie">
             DERECHOS REVERVADOS 2022-2023
           </footer>  
        </div>
    </body>


    



</html>
